<h1>Atualizar Curso</h1>

<form action="/curso/update/{{curso.id}}" method="post">

	<div class="form-group">
		<label for="sigla" class="form-label mt-4">Sigla do curso</label>
		<input
			type="text"
			class="form-control"
			name="sigla"
			value="{{curso.sigla}}"
			id="sigla"
			placeholder="Informe a sigla do Curso"
		/>
		<small id="emailHelp" class="form-text text-muted">Em caso de dúvidas,
			consulte o site da UFAM</small>
	</div>

	<div class="form-group">
		<label for="nome" class="form-label mt-4">Nome do curso</label>
		<input
			type="text"
			class="form-control"
			name="nome"
			value="{{curso.nome}}"
			id="nome"
			placeholder="Informe o nome do Curso"
		/>
	</div>

	<div class="form-group">
		<label for="descricao" class="form-label mt-4">Descrição do Curso</label>
		<textarea
			class="form-control"
			name="descricao"
			id="descricao"
			rows="3"
		>{{curso.descricao}}</textarea>
	</div>

	<fieldset class="form-group">
		<legend class="mt-4">Área da Ciência</legend>
		<div class="form-check">
			<label class="form-check-label">
				<input
					type="radio"
					class="form-check-input"
					name="area"
					id="area"
					value="1"
					{{checked curso.areaId 1}}
				/>
				Ciências Exatas Ex: Computação, Matemática, Estatística, etc.
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input
					type="radio"
					class="form-check-input"
					name="area"
					id="area"
					value="2"
					{{checked curso.areaId 2}}
				/>
				Ciências Humanas Ex: Letras, História, Pscicologia, etc.
			</label>
		</div>
		<div class="form-check">
			<label class="form-check-label">
				<input
					type="radio"
					class="form-check-input"
					name="area"
					id="area"
					value="3"
					{{checked curso.areaId 3}}
				/>
				Ciências Biológicas Ex: Medicina, Odontologia, Agropecuária, Agronomia,
				etc.
			</label>
		</div>
	</fieldset>

	<button type="submit" class="btn btn-primary">Atualizar Curso</button>

</form>